#root {
  max-width: 100vw;
  text-align: center;
}

.mapimage img {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  object-fit: contain;
}

.mapimage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mapImageThing {
  
  height: 100%;
  width: 100%;
}

.mapContainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0%;
  display: flex;
  flex-direction: row;
}

.mapimage:hover {
  filter: grayscale(50%)
}

.mapPageImage {
  width: 100%;
  height: 100%;
}

.mapimageContainer {
  margin: 1%;
  height: 30%;
  display: flex;
  flex-direction: column;
}

.mapimageContainer p {
  font-size: small;
}

.newMap {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: xx-large;
  color: white;
}
.delete {
  color: red;
  width: 100px;
  font-size: small;
}

.modal {
  background-color: black;
  color: white;
  border-radius: 20px;
  text-align: center;
  width: 20%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}